<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSSendFileTypes</key>
			<array>
				<string>com.compuserve.gif</string>
				<string>public.tiff</string>
				<string>public.jpeg</string>
				<string>com.microsoft.bmp</string>
				<string>public.png</string>
			</array>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSServiceCategory</key>
				<string>public.image</string>
				<key>NSApplicationIdentifier</key>
				<string>com.apple.finder</string>
			</dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Search Image with Google</string>
			</dict>
			<key>NSMessage</key>
			<string>googleServiceHandler</string>
			<key>NSPortName</key>
			<string>imgine</string>
			<key>NSSendTypes</key>
			<array>
				<string>public.image</string>
			</array>
			<key>NSUserData</key>
			<string>0</string>
		</dict>
		<dict>
			<key>NSSendFileTypes</key>
			<array>
				<string>com.compuserve.gif</string>
				<string>public.tiff</string>
				<string>public.jpeg</string>
				<string>com.microsoft.bmp</string>
				<string>public.png</string>
			</array>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSServiceCategory</key>
				<string>public.image</string>
				<key>NSApplicationIdentifier</key>
				<string>com.apple.finder</string>
			</dict>
			<key>NSUserData</key>
			<string>0</string>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Upload Image to imgur.com</string>
			</dict>
			<key>NSMessage</key>
			<string>uploadServiceHandler</string>
			<key>NSPortName</key>
			<string>imgine</string>
			<key>NSSendTypes</key>
			<array>
				<string>public.image</string>
			</array>
		</dict>
	</array>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 yelyah. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
